.heading-font
{
    font-family: $headingFont;
}

.body-font
{
    font-family: $bodyFont;
}

.section_heading-small
{
    color: $tfmOrange;
    text-transform: uppercase;
    font-family: $headingFont;
    font-size: 1.6rem;
    line-height: 1.7;
}

.section_heading-large
{
    color: $tfmBlue;
    font-family: $headingFont;
    font-size: 3.6rem;
    line-height: 1.7;

    @media only screen and (max-width: 600px)
    {
        padding: 0;
        line-height: 1.4;
        margin-top: 1.4rem;
    }
}

.section_body-regular
{
    font-family: $bodyFont;
    font-size: 1.6rem;
    line-height: 1.7;
    white-space: pre-line;
}