// Fonts
$headingFont: 'Gilroy ExtraBold', sans-serif;
$bodyFont: 'Graphik Regular', sans-serif;

// Colors
$defaultFontColor: #707C85;
$tfmOrange: #F69031;
$tfmBlue: #193866;

$bgOrangeLight: #FFF6ED;
$bgBlueLight: #F3F8FF;